
<!-- template inheritence -->
{% extends "layout.html" %}
{% block content %}
    <div style="background-color: rgb(210, 255, 47); width: 400px">
            <h2 style="text-align: center"> Welcome! </h2>
    </div>

    <p>We work with the company to provide firm software for our client's needs.</p>
    <p>TFRP is used for predicting the fuel rate based on the:</p>
    <ol>
        <li>Client's Location</li>
        <li>Competitor's Rate</li>
        <li>Client's Rate History</li>
        <li>Gallons Requested</li>
        <li>Company's profit margin</li>
        <li>Seasonal rate fluctuation</li>
    </ol>

    <p>To start first <a href="{{ url_for('users.account') }}">update your account </a>and enter the required information</p>
    <p>If you already updated your account go ahead and <a href="{{ url_for('fuel.fuel_rate_cal') }}">calculate your first fuel quote!</a></p>

{% endblock content %}

