<!-- template inheritence -->
{% extends "layout.html" %}
{% block content %}

<div class="content-section">
    <form name="form1" method="POST" action="" onsubmit="return false">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border_bottom mb-4">{{ legend }}</legend>

            <!-- gallon -->
            <div class="form-group">
                {{ form.gallon.label(class="form-control-label") }}
                {% if form.gallon.errors %}
                    {{ form.gallon(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.gallon.errors %}
                            <span>{{ error }}</span> 
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.gallon(class="form-control form-control-lg", id="gallon",  onKeyup="checkform()") }}
                {% endif %}
            </div>

            <!-- address -->
            <div class="form-group">
                {{ form.address.label(class="form-control-label") }}
                {% set my_string1 = [client.address1, client.address2]|join(' ') %}
                {% set my_string = [my_string1, client.city, client.state, client.zipcode]|join(', ') %}
                {{ form.address(class="form-control form-control-lg",
                                 value=my_string,
                                 id="address") }}
            </div>

            <!-- date delivery -->
            <div class="form-group">
                {{ form.d_deliver.label(class="form-control-label") }}
                {{form.d_deliver(class="form-control form-control-lg",
                                   type="date", id="date", onload="getDate()",
                                   style="border: 1px solid; border-radius: 5px; border-color: #ced4da",
                                    min="2019-07-01", max="2029-08-02") }}
               <!--<input type="date" name="date" style="border: 1px solid; border-radius: 5px; border-color: #ced4da"
                     min="2019-07-01" max="2029-08-02"> --> 
            </div>

            <!--set price-->
            <div>
                    <button name="Get Price" id="get_price"
                            class="btn btn-primary" onlick="pricing();" 
                            value="Get Price">Get Price</button>
            </div>
          
            <!-- suggested price -->
            <div class="form-group">
                {{ form.suggestp.label(class="form-control-label") }}

                {{ form.suggestp(class="form-control form-control-lg",
                                 value=suggestp,
                                 id="suggestprice") }}
            </div>

            <!-- total price -->
            <div class="form-group">
                {{ form.totalp.label(class="form-control-label") }}
                {{ form.totalp(class="form-control form-control-lg", 
                               value=totalp, 
                               id="totalprice"
                               ) }}
            </div>
        </fieldset>

        <!-- submit -->
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info btn-danger", id="submitbutton", disabled="disabled") }}
        </div>
       
    </form>
</div>

<!--  <script type="text/javascript" src="scripts/pricing_module.js"></script>    -->
<script type="text/javascript">
/* get date for default value*/
let today = new Date().toISOString().substr(0, 10);
document.querySelector("#date").value = today;

/* Pricing module*/
var totalp=0, suggestp=0;
document.getElementById("#get_price").onclick = pricing;
function pricing(){
    var gallon=document.getElementById("#gallon").value;
    document.write("Gallon: "+ gallon);//
    var dateform = document.getElementById("#date").value;
    document.write("dateform: "+ dateform);//
    var timePeriod = datetime.datetime.strptime(dateform,"%Y-%m-%d");
    var month = timePeriod.month;
    var current_p = 1.5;
    var location_f, history_f, gallon_f, company_f, fluctuation_f, margin, suggested_price, total_price;
    if (client.state=="TX"){
        location_f =0.02;
    } else {
        location_f=0.04;
    }
    if (clientHistory.count()==0){
        history_f = 0;
    } else {
        history_f =0.01;
    }
    if ((+gallon)>1000){
        gallon_f = 0.02;
    } else {
        gallon_f =0.03;
    }
    if (month>5 && month<9){
        fluctuation_f = 0.04;
    } else {
        fluctuation_f = 0.03;
    } 
    company_f = 0.1;
    margin = current_p*(location_f-history_f+gallon_f+company_f+fluctuation_f);
    suggested_price = current_p + margin;
    total_price = (+gallon) * suggested_price;
    document.write("Suggested price: "+ suggested_price);
    document.write("Total price: "+ total_price);
    document.getElementById("#suggestprice").innerHTML = suggested_price;
    suggestp = suggested_price;
    document.getElementById("#totalprice").innerHTML = total_price;
    totalp = total_price;
}



function checkform()
    {
        var f = document.forms["form1"].elements;
        var cansubmit = true;

        for (var i = 0; i < f.length; i++) {
            if (f[i].value.length == 0) cansubmit = false;
        }

        if (cansubmit) {
            document.getElementById('#submitbutton').disabled = !cansubmit;            
        }
    }
</script>
{% endblock content %}
