<!DOCTYPE html>
<html>
    <head>
        <!-- copied from https://tinyurl.com/y2q9ucgz -->
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- added for style using flask function url_for to find static directory -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

        {% if title %}
        <title>TexasFuelRatePredictor App - {{ title }}</title>
        {% else %}
        <title>TFRP </title>
        {% endif %}
        <!-- other css file-->
        <link rel="stylesheet" type="text/css" href="layout.css">
    </head>
    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top" >
                <div class="container">
                    <a class="navbar-brand mr-4" href="/">TFRP</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarToggle">
                        <div class="navbar-nav mr-auto">
                            <a class="nav-item nav-link" href="{{ url_for('main.home') }}">Home</a>
                            <a class="nav-item nav-link" href="{{ url_for('main.about') }}">About</a>
                        </div>
                        <!-- Navbar Right Side -->
                        <div class="navbar-nav">
                            {% if current_user.is_authenticated %}
                                <a id="select1" class="nav-item nav-link" href="{{ url_for('fuel.history') }}" >History</a>
                                <a id="select1" class="nav-item nav-link" href="{{ url_for('fuel.fuel_rate_cal') }}">Predictor</a>
                                <a id="select1" class="nav-item nav-link" href="{{ url_for('users.account') }}" >Account</a>
                                <a class="nav-item nav-link" href="{{ url_for('users.logout') }}" >Logout</a>
                            {% else %}
                                <a class="nav-item nav-link" href="{{ url_for('users.login') }}" >Login</a>
                                <a class="nav-item nav-link" href="{{ url_for('users.register') }}" >Register</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <main role="main" class="container" style="position: relative; min-height: 85vh">
        <div class="row" style="padding-bottom: 2.5rem">
            <div class="col-md-8" style="background-color: whitesmoke">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-light">News</li>
                        <li class="list-group-item list-group-item-light">Announcements</li>
                        <li class="list-group-item list-group-item-light">Calendars</li>
                        <li class="list-group-item list-group-item-light">etc</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <!--footer-->

        </main>
        <div class="footer navbar-fixed-bottom" style="color: white; height: 2.5rem; width: 100%; position: absolute;  background-image: url(http://style24x7.com/wp-content/uploads/2018/12/Background-Wallpaper-HD-Autumn-Nature-Photo-120.jpg)">
            <p style="text-align: center">© 2019 Texas Fuel Rate Predictor</p>
       </div>
        <!--
        <footer class="c_content-info c_container cr" role="contentinfo">
            <div class="c_row cr" id="c_triangle-down"></div>
                <div class="c_row c_content-info-footer cr">
                <div class="c_col-md-3 cr"></div>
                <div class="c_col-md-3 cr"></div>
                <div class="c_col-md-3 cr"></div>
               </div>
                <div class="c_row c_toes cr"></div>
                 <div class="c_row cr">
                     <div class="c_col-lg-12 cr">
                        <p class="c_copyright cr">© 2019 Texas Fuel Rate Predictor</p>
                    </div>
                </div>
       </footer> 
    -->

        <!-- copied from https://tinyurl.com/y2q9ucgz -->
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
